@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <div class="container-fluid col-md-4 login-box">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                @if (!string.IsNullOrWhiteSpace(@Model.ErrorMessage)) {
                    <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
                }
                <fieldset class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                </fieldset>
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </div>
    </div>
}