<!html5>
<html>
<head id="Head1" runat="server">
    <title>Index</title>
</head>
<body>
    <div>
    
        
    The current date and time is @DateTime.Now.ToString()

    
    </div>
</body>
</html>